@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */

:root{
    --dark-blue: hsl(233, 47%, 7%);
    --desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);

    --white-100: hsl(0, 0%, 100%);
    --white-75: hsla(0, 0%, 100%, 0.75);
    --white-60: hsla(0, 0%, 100%, 0.6);

    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Lexend Deca', sans-serif;
}
html, body{
    min-height: 100%;
    height: 100%;
}
body{
    font-family: var(--font-primary);
    background-color: var(--dark-blue);
    color: var(--white-100);
    font-size: 15px;
}
.widget__container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}
.widget{
    background-color: var(--desaturated-blue);
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    max-width: 500px;
}

.widget__img{
    min-height: 220px;
    background: linear-gradient(hsl(277, 85%, 36%, 0.5), hsl(277, 85%, 36%, 0.5)), url('/images/image-header-mobile.jpg');
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
}
.widget__content{
    padding: 2rem;
    text-align: center;
}
.widget__title{
    font-size: 1.6rem;
    margin-top: 0;
}
.widget__insights{
    color: var(--soft-violet);
}
.widget__desc{
    color: var(--white-75);
    line-height: 1.5rem;
    font-size: 0.875rem;
    margin-bottom: 1rem;
}
.aside{
    display: flex;
    flex-direction: column;
}
.aside__item:last-child .aside__headline{
    margin-bottom: 0;
}
.aside__headline{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}
.aside__desc{
    font-weight: normal;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-size: 0.875rem;
    color: var(--white-60);
}

/* Attribution */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and ( min-width: 475px) {
    .aside{
        flex-direction: row;
        justify-content: space-between;
    }
    .aside__headline{
        margin-bottom: 0;
    }
    .widget__content{
        padding: 3rem;
    }
    .widget__img{
        background: linear-gradient(hsl(277, 85%, 36%, 0.5), hsl(277, 85%, 36%, 0.5)), url('/images/image-header-desktop.jpg');
        background-size: cover;
        background-position: left top;
        background-repeat: no-repeat;
    }
    .aside__headline{
        text-align: left;
    }
}
@media screen and ( min-width: 878px) {
    .widget{
        flex-direction: row;
        max-width: unset;
    }
    .widget__img{
        width: 50%;
        order: 2;
    }
    .widget__content{
        box-sizing: border-box;
        width: 50%;
        text-align: left;
    }
}